language: node_js
node_js:
  - "8"
install: npm install
jobs:
  include:
    - stage: test
      script: npm test
    - stage: deploy
      script: bash ./.travis-deploy.sh
cache:
  directories:
    - node_modules
#notifications:
#  webhooks:
#    urls:
#      - https://webhooks.gitter.im/e/0926b82fc22ea0760ede
#    on_success: always  # options: [always|never|change] default: always
#    on_failure: always  # options: [always|never|change] default: always
#    on_start: never     # options: [always|never|change] default: always
